
/* styles.css or your custom CSS file */
@media (min-width: 1024px) {
    .custom-padding {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
/* Navbar Styles */
nav {
  background-color: white;
}

.nav-container {
  max-width: 1200px; 
  margin: 0 auto;
  padding: 10px 20px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Dropdown Menu Styles */
.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%; 
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e2e8f0;
  z-index: 1000;
}

.dropdown-item {
  display: block;
  padding: 0.5rem 1rem;
  color: #4a5568;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
}

.dropdown-item:hover {
  background-color: #fedc1d;
  color: white;
}

/* Trigger the dropdown on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-dropdown {
  position: relative;
  /* Increase the hover area */
  padding: 10px; 
}

/* Style for the mobile menu overlay */
.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffcc00; /* Yellow color for the overlay */
  z-index: 50; /* Ensure it overlays other elements */
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  font-family: Montserrat;
}

/* When mobile menu is open, show overlay */
.mobile-menu-overlay.open {
  transform: translateX(0);
}

/* Close button in mobile menu overlay */
.mobile-menu-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #0056b3; /* Blue color for close button */
  cursor: pointer;
}


.mobile-menu-overlay ul {
  padding-top: 80px;
}

.mobile-menu-overlay li {
  font-size: 1.5rem;
  margin: 20px 0;
  color: #333;
}

/* Dropdown items inside overlay */
.mobile-menu-overlay .dropdown-item {
  font-size: 1rem;
  padding-left: 20px;
}
